- name: Set up virtual machine on Proxmox
  hosts: localhost
  vars:
    vm_name: godegapoke
    vm_template: ubuntu-cloud-template-v1
    proxmox_node: int531-02
    proxmox_api_host: 10.13.104.212
    proxmox_api_user: root@pam
    proxmox_api_password: int53102
    proxmox_storage: local-lvm
    vm_target_ip: 10.13.104.221
    ssh_key_path: "{{ playbook_dir }}/privatekey"
  tasks:
    - name: Remove existing SSH key pair
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ ssh_key_path }}"
        - "{{ ssh_key_path }}.pub"

    - name: Generate SSH key pair
      community.crypto.openssh_keypair:
        path: "{{ ssh_key_path }}"
        type: ed25519
        comment: "sysadmin@{{ vm_target_ip }}"
        mode: '0600'
        force: true
      register: ssh_keypair

    - name: Read public key
      ansible.builtin.slurp:
        src: "{{ ssh_key_path }}.pub"
      register: ssh_pubkey

    - name: Set SSH public key fact
      ansible.builtin.set_fact:
        vm_ssh_pubkey: "{{ ssh_pubkey.content | b64decode | trim }}"

    - name: Ping my hosts
      ansible.builtin.ping:

    - name: Get VM current state
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        name: "{{ vm_name }}"
        node: "{{ proxmox_node }}"
        state: current
      register: vm_info
      ignore_errors: true

    - name: Stop the VM if running
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        name: "{{ vm_name }}"
        node: "{{ proxmox_node }}"
        state: stopped
        force: true
      when: vm_info.vmid is defined and vm_info.status ==  'running'

    - name: Remove VM
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        name: "{{ vm_name }}"
        node: "{{ proxmox_node }}"
        state: absent
      when: vm_info.vmid is defined

    - name: Create VM
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        clone: "{{ vm_template }}"
        name: "{{ vm_name }}"
        node: "{{ proxmox_node }}"
        storage: local-lvm
        format: qcow2
        timeout: 100
      register: new_vm

    - name: Update VM
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        node: "{{ proxmox_node }}"
        name: "{{ vm_name }}"
        ciuser: root
        cipassword: int53102
        sshkeys: "{{ vm_ssh_pubkey }}"
        ipconfig:
          ipconfig0: 'ip={{ vm_target_ip }}/24,gw=10.13.104.254'
        update: yes

    - name: Start VM
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        vmid: "{{ new_vm.vmid }}"
        node: "{{ proxmox_node }}"
        state: started

    - name: Wait 5 minutes for VM to finish first-boot tasks
      ansible.builtin.pause:
        minutes: 5

    - name: Wait for VM to be reachable via SSH
      ansible.builtin.wait_for_connection:
        delay: 10
        timeout: 300

- name: Configure the new VM hostname
  hosts: 10.13.104.221
  gather_facts: yes
  become: yes
  vars:
    ansible_host: 10.13.104.221
    ansible_user: root
    ansible_ssh_private_key_file: "{{ playbook_dir }}/privatekey"
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o PreferredAuthentications=publickey -o ControlMaster=no'
  roles:
    - common
    - app
    - monitor
